$primary: #49586d;
$dark-primary: #1f2a37;
$light-primary: rgba(#49586d, 0.7);
$transparent-primary: rgba(#49586d, 0.2);
// $grid-columns: 14;
$grid-gutter-width: 15px;
// $secondary: $light-primary;
$light-gray: #f5f7fa;
$theme-colors: (
  "primary": $primary,
  "dark-primary": $dark-primary,
  "light-primary": $light-primary,
  "danger": #DB5046,
  "transparent" : rgba(0,0,0,0),
  "transparent-primary": $transparent-primary
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1160px
);
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@mixin transition($value){
  transition: $value;
  -moz-transition: $value;
  -webkit-transition: $value;
  -o-transition: $value;
}
.input-group-text{
  min-width: 45px;
  justify-content: center;
}
.user-avatar{
  overflow: hidden;
  border-radius: 4px;
  & > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &.icon{
    width: 30px;
    height: 30px;
  }
  &.icon-45{
    width: 45px;
    height: 45px;
  }
}