.new-post-container{
    // background-color: #fff;
    padding: 20px 30px 30px 30px;
    // border-radius: 4px;
    // border: 1px solid $transparent-primary;
    margin-bottom: 20px;
    .post-tab-container{
        .tabs-header{
            border-bottom: 1px solid rgba($primary, .4);
            display: flex;
            flex-direction: row;
            .tab{
                flex-grow: 1;
                text-align: center;
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: center;
                & > div{
                    padding: 20px;
                }
                i{
                    font-size: 24px;
                    margin-right: 10px;
                }
                &.active{
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        bottom: -1.5px;
                        height: 3px;
                        background-color: $primary;
                        left: 0;
                    }
                }
            }
        }
        .tabs-content{
            width: 100%;
            margin-top: 20px;
            textarea{
                display: block;
                width: 100%;
                border:1px solid $transparent-primary;
                padding: 10px 20px 20px 20px; 
                min-height: 120px;
                resize: none;
            }
        }
        .upload-file{
            text-align: center;
            width: 100%;
            position: relative;
            .upload-input{
                position: relative;
                background-color: rgba($dark-primary, .8);
                padding: 10px 14px;
                border-radius: 4px;
                display: block;
                margin-bottom: 20px;
                color: #Fff;
                input{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                }
                i{
                    margin-right: 5px;
                }
            }
            .preview-image{
                width: 100%;
                position: relative;
                margin-bottom: 20px;
            }
            .clear-file{
                position: absolute;
                top: 10px;
                right: 10px;
                // background: #fff;
                color: #333;
                cursor: pointer;
                z-index: 2;
            }
        }
    }
    .actions{
        .publisher{
        }
    }
}
.news-post{
    position: relative;
    background-color: #fff;
    padding: 20px;
    .post-document-mark{
        position: absolute;
        right: -20px;
        padding: 10px;
        text-align: right;
        color: #fff;
        background: linear-gradient(270deg, rgba($primary, 1), rgba($primary, 0.8));
        min-width: 70px;
        i{
            margin-right: 5px;
        }
        &::after{
            content: '';
            position: absolute;
            height: 32px;
            width: 32px;
            background: rgba(73, 88, 109, 0.4);
            bottom: -9px;
            right: 6px;
            transform: rotate(-25deg);
            z-index: -1;
        }
    }
    .document-info{
        margin-bottom: 10px;
        .info-row{
            // display: flex;
            width: 50%;
            display: inline-block;
            margin-bottom: 10px;
            span{
                display: inline-block;
            }
            .area{
                // padding: 10px;
                // border: 1px solid $primary;
            }
            .name{
                flex: 1;
                // padding: 10px;
                // border: 1px solid $primary;
                // background: $primary;
                // color: #fff;
                display: block;
            }
        }
    }
    .document-source{
        padding: 10px;
        text-align: center;
        background-color: rgba($primary, .4);
        cursor: pointer;
        border-radius: 4px;
        i{
            margin-right: 10px;
            font-size: 20px;
        }
    }
    .post-header{
        display: flex;
        align-items: center;
        padding-right: 40px;
        .user-info{
            margin-left: 15px;
            & > span{
                display: block;
            }
            .name{
                color: $dark-primary;
                font-weight: 500;
            }
            .posted-time{
                font-size: 11px;
                color: $light-primary;
            }
        }
    }
    .post-content{
        padding: 20px 0;
        & > .image{
            margin-top: 15px;
        }
    }
    .post-footer{
        .stats{
            display: flex;
            align-items: center;
            & > div{
                padding: 0 10px;
                &:first-child{
                    padding: 0;
                }
                & > span{
                    color: $dark-primary;
                    i{
                        font-size: 16px;
                        color: $light-primary;
                        margin-right: 4px;
                        cursor: pointer;
                    }
                }
                
            }
            .comments{
                cursor: pointer;
            }
        }
        .write-comment{
            margin: 15px 0;
            input{
                flex: 1;
                border-radius: 4px;
                border: 1px solid rgba($dark-primary, .4);
                padding: 6px 20px;
                font-size: 14px;
                margin: 0 10px;
            }
            .actions{
                height: 30px;
                width: 40px;
                & > i{
                    background: rgba($dark-primary, .8);
                    border-radius: 4px;
                    padding: 4px;
                    color: #fff;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }
        .post-comments{
            border-top: 1px solid rgba($primary, .1);
            padding: 20px 10px 0 10px;
            .comment{
                margin-bottom: 14px;
                .owner{
                    margin-right: 10px;
                }
                .text{
                    background: rgba($primary, .2);
                    padding: 10px;
                    border-radius: 4px;
                    font-size: 13px;
                }
            }
            .actions{
                font-size: 14px;
                .more-comments{
                    cursor: pointer;
                }
            }
        }
    }
}
@media only screen and (max-width: 550px){
    .new-post-container{
        padding: 10px 15px 10px 10px;
        .post-tab-container{
            .tabs-header{
                .tab{
                    & > div{
                    }
                    i{
                    }
                    &.active{
                        &::after{
                        }
                    }
                }
            }
            .tabs-content{
                textarea{
                    font-size: 14px;
                }
                label{
                    font-size: 14px;
                }
            }
            .upload-file{
                font-size: 14px;
                .upload-input{
                    input{
                        font-size: 14px;
                    }
                    i{
                    }
                }
                .preview-image{
                }
                .clear-file{
                }
            }
        }
        .actions{
            .publisher{
                .user-avatar{
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
    .news-post{
        position: relative;
        background-color: #fff;
        padding: 10px 14px;
        .post-document-mark{
            right: 0;
            position: relative;
            margin: 0 0 20px 0;
            i{
            }
            &::after{
                display: none;
            }
        }
        .document-info{
            display: flex;
            align-items: flex-start;
            .info-row{
                span{
                }
                .area{
                }
                .name{
                }
            }
        }
        .document-source{
            padding: 10px;
            text-align: center;
            background-color: rgba($primary, .4);
            cursor: pointer;
            border-radius: 4px;
            i{
                margin-right: 10px;
                font-size: 20px;
            }
        }
        .post-header{
            padding-right: 0px;
            .user-info{
                margin-left: 15px;
                & > span{
                    display: block;
                }
                .name{
                    color: $dark-primary;
                    font-weight: 500;
                }
                .posted-time{
                    font-size: 11px;
                    color: $light-primary;
                }
            }
        }
        .post-content{
            padding: 20px 0;
            & > .image{
                margin-top: 15px;
            }
        }
        .post-footer{
            .stats{
                display: flex;
                align-items: center;
                & > div{
                    padding: 0 10px;
                    &:first-child{
                        padding: 0;
                    }
                    & > span{
                        color: $dark-primary;
                        i{
                            font-size: 16px;
                            color: $light-primary;
                            margin-right: 4px;
                            cursor: pointer;
                        }
                    }
                    
                }
                .comments{
                    cursor: pointer;
                }
            }
            .write-comment{
                margin: 15px 0;
                input{
                    flex: 1;
                    border-radius: 4px;
                    border: 1px solid rgba($dark-primary, .4);
                    padding: 6px 20px;
                    font-size: 14px;
                    margin: 0 10px;
                }
                .actions{
                    height: 30px;
                    width: 40px;
                    & > i{
                        background: rgba($dark-primary, .8);
                        border-radius: 4px;
                        padding: 4px;
                        color: #fff;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                }
            }
            .post-comments{
                border-top: 1px solid rgba($primary, .1);
                padding: 20px 10px 0 10px;
                .comment{
                    margin-bottom: 14px;
                    .owner{
                        margin-right: 10px;
                    }
                    .text{
                        background: rgba($primary, .2);
                        padding: 10px;
                        border-radius: 4px;
                        font-size: 13px;
                    }
                }
                .actions{
                    font-size: 14px;
                    .more-comments{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}