.library-page{
    .header{
        .heading{
            background: #f5f7fa;
            border-bottom: 1px solid $transparent-primary;
            color: $dark-primary;
            padding: 10px 15px;
        }
        .search-friends{
            padding: 10px 10px;
            border-bottom: 1px solid $transparent-primary;
        }
    }
}