.user-left-side-bar{
    background: #fff;
    padding: 0px;
    border-radius: 4px;
    border: 1px solid rgba($primary, 0.2);
    .user{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba($primary, 0.1);
        .user-avatar{
            width: 70px;
            height: 70px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 10px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{
            // color: $primary;
            padding: 6px 0;
            border-left: 3px solid transparent;
            &.active{
                border-color: $primary;
                background: rgba($primary, 0.1);
                a{
                    color: $dark-primary;
                    opacity: 1;
                    i{
                        color: $dark-primary;
                    }
                }
            }
            a{
                @include transition(all .4s);
                display: block;
                padding: 10px 14px;
                opacity: 0.9;
                &:hover{
                    text-decoration: none;
                    color: $dark-primary;
                    opacity: 1;
                    i{
                        color: $dark-primary;
                    }
                }
                i{
                    @include transition(all .4s);
                    margin-right: 8px;
                    font-size: 20px;
                }
            }
        }
    }
}
//right sidebars
.right-sidebar{
    & > ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
            display: block;
            width: 100%;
            a{
                display: block;
                padding: 8px 14px;
                color: $primary;
                border-left: 2px solid transparent;
                font-weight: 400;
                font-size: 14px;
                &:hover{
                    color: $dark-primary;
                    background: $transparent-primary;
                }
                &.active{
                    color: $dark-primary;
                    background: $transparent-primary;
                    border-color: $dark-primary;
                }
            }
        }
    }
}